name: 'Publish a new article'

run-name: Publishing...
on:
  workflow_dispatch:
    inputs:
      article_name:
        description: "Article to publish"
        required: true
        default: "programmers-brain.md"
      publish_medium:
        description: "Publish to Medium?"
        required: true
        default: "true"
      publish_linkedin:
        description: "Publish to Linkedin?"
        required: true
        default: "true"

jobs:

  publish-a-new-article:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Pandoc
        uses: nikeee/setup-pandoc@v1
        with:
          pandoc-version: '2.9'

      # Medium
      - if: github.event.inputs.publish_medium == "true"
        name: Publish to Medium
        run: |
          
          ARTICLE_TITLE=`head -1 ${{ github.event.inputs.article_name }}| pandoc -t plain` 
          ARTICLE_CONTENTS=`cat ${{ github.event.inputs.article_name }} automated.md | pandoc -t html`  

          JSON=$( jq -n \
                  --arg title "${ARTICLE_TITLE}" \
                  --arg content "${ARTICLE_CONTENTS}" \
                  --arg format "html" \
                  --arg canonical "https://github.com/Zolletta/readings/blob/main/${{ github.event.inputs.article_name }}" \
                  --arg publish "public" \
                  --arg notify true \
                  '{title: $title, content: $content, contentFormat: $format, canonicalUrl: $canonical, publishStatus: $publish, notifyFollowers: $notify}' )
           
          POST_URL="https://api.medium.com/v1/users/$MEDIUM_USER_ID/posts"
          RESPONSE=`curl -i -d "$JSON" -H "Content-Type: application/json" -H "Authorization: Bearer $MEDIUM_SECRET" -X POST $POST_URL` 
          
          if [[ ${RESPONSE:09:3} -eq '201' ]] 
          then
            echo "## ${ARTICLE_TITLE} - Published to Medium: ✓" >> $GITHUB_STEP_SUMMARY
          else
            echo "## ${ARTICLE_TITLE} - Published to Medium: ✗" >> $GITHUB_STEP_SUMMARY
            echo "Medium response: ${RESPONSE}" >> $GITHUB_STEP_SUMMARY
          fi

        env:
          MEDIUM_USER_ID: ${{ secrets.MEDIUM_USER_ID }}
          MEDIUM_SECRET: ${{ secrets.MEDIUM_SECRET }}
